html{
    font-size: 100%;
    overflow-x: hidden;
}
body{
    margin: 0;
    width: 100vw;
    display: flex;
    font-family: 'Poppins';
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 10vh;
    background-color: #166492;
    display: flex;
    justify-content: center;
}
.content{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.content img{
    width: 9%;
}
.content nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.content nav a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
main{
    width: 80%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courseinfo{
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px 15px;
}
.courseinfo .imgdes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.courseinfo .imgdes img{
    width: 70%;
}
.desc{
    width: 50%;
    height: 500px;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.desc p{
    font-weight: 400;
    font-size: 0.8rem;
    text-align: left;
    margin-top: 2em;
}
.desc h1{
    color: #166492;
    font-weight: 700;
}
.desc button{
    font-family: 'Poppins';
    border: 0px;
    border-radius: 5px;
    padding: 0.7rem 0.8rem;
    background-color: #166492;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 3em;
    cursor: pointer;
}
.details{
    margin-top: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}
.info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.info h2{
    color: #166492;
}
.detls{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.dtl{
    width: 90%;
    display: flex;
    align-items: center;
}
.dtl img{
    height: 25px;
    margin-right: 10px;
}
.box{
    margin-top: 2.5em;
    border-radius: 10px;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box table{
    padding: 10px 15px;
    height: 70%;
    width: 100%;
    background-color: #F5F7FA;
}
.box table tr{
    margin-top: 20px;
}
.coursecontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1rem;
}
.coursecontent h2{
    color: #166492;
}
.tablecntn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.element{
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 25px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}
.descdisp{
    font-size: 0.8rem;
    font-weight: 500;
}
.element p{
    margin: 0.3rem;
}
.element2{
    display: flex;
    flex-direction: column;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 25px;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 20vh;
}
.profile{
    display: flex;
}
.imgdiv{
    width: 12%;
    display: flex;
    align-items: center;
}
.profile img{
    width: 70%;
}
.rates{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.comment p{
    font-size: 0.9rem;
}
.rates p{
    margin-top: 0px;
}
.comment{
    height: 80%;
    overflow-y: scroll;
    padding-right: 5px;
}
.readmore{
    margin-top: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coursecontent button{
    font-family: 'Poppins';
    font-size: 1.1rem;
    background-color: #166492;
    color: #F5F7FA;
    padding: 10px 15px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.hidden{
    display: none;
}
.hiddenimg{
    display: none;
}
.hiddentxt{
    display: none;
}
.contentinfo{
    display: flex;
    align-items: center;
    width: 100%;
}
.contentinfo .imgshow{
    width: 2%;
    margin-right: 0.3rem;
}

@media (max-width: 480px) {
    html{
        font-size: 85%;
    }
    header .content img{
        width: 70%;
    }
}

@media (max-width: 785px){
    body{
        margin: 0;
        width: 100vw;
        overflow-x: hidden;
    }
    main{
        margin: 0;
        width: 85%;
        justify-content: center;
        align-items: center;
    }
    .courseinfo{
        flex-direction: column;
        width: 100%;
    }
    .details{
        flex-direction: column;
        width: 100%;
    }
    .row{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .row2{
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
    .element{
        width: 100%;
    }
    .element2{
        width: 100%;
    }
    .info{
        width: 100%;
    }
    .box{
        width: 100%;
    }
    header .content nav{
        display: none;
    }
    header .content{
        justify-content: center;
        align-items: center;
    }
    header .content img{
        width: 35%;
    }
    .imgdes{
        display: none;
    }
    .imgdes img{
        display: none;
    }
    .courseinfo .desc{
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}